Package: gstreamer0.10-plugins-good-doc
Source: gst-plugins-good0.10
Version: 0.10.29-0maemo24+0m8
Architecture: all
Maintainer: Maemo Multimedia <multimedia@maemo.org>
Installed-Size: 2932
Depends: gstreamer0.10-doc, gstreamer0.10-plugins-base-doc
Section: doc
Priority: optional
Description: GStreamer documentation for plugins from the "good" set
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains documentation for plugins from the "good" set,
 a set of good-quality plug-ins under the LGPL license.
Aegis-Manifest: empty
Original-Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Original-Uploaders: Loic Minier <lool@dooz.org>,
           Sebastian Dröge <slomo@debian.org>,
           Sjoerd Simons <sjoerd@debian.org>
